.content {
  display: flex;
}

.content-notes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

:root {
  --primaria: #58a4b0;
  --secondary: #373f51;
  --secondary-active: #cccccc;
  --fundo: #ffffff;
  --background: #ececec;
}